SFS-standalone/data
SFS-standalone/20240220-小中大请求
SFS-standalone/20240220-40.6-22.7-15.7-9.8-6.8
SFS-standalone/Observe1
SFS-standalone/result
SFS-standalone/test_SFS_test1_And_test2
SFS-standalone/cpu_mem_usage.log

synergy-controller/controller.log
synergy-controller/no_cooperate.log

result

cpu_usage.txt
optimal.txt
main